{
	"extends": "standard",
	"rules": {
    "semi": 0,
    "handle-callback-err": 0,
    "quotes": 0,
    "comma-dangle": 0,
    "no-debugger": 0,
    "import/no-unresolved": 0,
    "import/extensions":0
	}
}
