{
  "extends": "stylelint-config-standard",
  "rules": {
    "no-eol-whitespace": [ true , {
      "ignore": ["empty-lines"]
    }],
    "declaration-block-semicolon-newline-after": null,
    "font-family-name-quotes": "always-where-recommended",
    "selector-attribute-quotes": "always",
    "block-closing-brace-space-before": null,
    "block-opening-brace-space-after": null,
    "color-hex-length": null,
    "custom-property-empty-line-before": null,
    "declaration-block-single-line-max-declarations": null,
    "declaration-colon-newline-after": null,
    "indentation": null,
    "no-missing-end-of-source-newline": null,
    "number-leading-zero": null,
    "number-no-trailing-zeros": null,
    "selector-list-comma-newline-after": null,
    "at-rule-empty-line-before": null,
    "comment-whitespace-inside": null,
    "max-empty-lines": null,
    "block-no-empty": null,
    "comment-empty-line-before": null,
    "no-descending-specificity": null,
    "selector-pseudo-element-colon-notation": null
  },
  "ignoreFiles": [
    "*.md"
  ]
}
