/* buttons */
.btn {
  display: inline-block;
  margin-bottom: 0; /* For input.btn */
  background-image: none; /* Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214 */
  white-space: nowrap;

  &:hover,
  &:focus {
  }

  &:active,
  &--active {
  }

  &--block {
    display: block;
    width: 100%;
  }
}


/* input, button, select, textarea are border-box by default from _custom_normalize.css */
.input {
  &:hover,
  &:focus {
  }

  &[disabled],
  &:disabled {
  }

  &[readonly] {
  }

  &::placeholder {
  }

  &--block {
    display: block;
    width: 100%;
  }
}

textarea {
  padding: 4px;

  &::placeholder {
  }
}

/* from sanitize */

/* select{-moz-appearance:none;-webkit-appearance:none}
select::-ms-expand{display:none}
select::-ms-value{color:currentColor } */

.valid {
}

.invalid {
}
