/*default styles*/

/* input, button, select, textarea are border-box by default from _custom_normalize.css */
.input {
  
  &:hover, &:focus {

  }

  &[disabled], &:disabled {

  }

  &[readonly] {

  }

  &::placeholder {
    color:red;
  }
}

textarea {
  padding:4px;
  
  &::placeholder {
    
  }
}



/*from sanitize*/
/*select{-moz-appearance:none;-webkit-appearance:none}
select::-ms-expand{display:none}
select::-ms-value{color:currentColor}*/

.valid {
    
}
.invalid {
    
}