/* ==========================================================================
   Default settings
   ========================================================================== */

html, input, select, textarea, button {
  font:14px/1.428 Arial, "Geneva CY", sans-serif;
  color:#222;
}
html,body {
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;

  &:hover, &:focus, &:active {
    text-decoration: underline;
  }
}

hr {
  border-color: #ccc;
}


/* ==========================================================================
   Global styles
   ========================================================================== */
#app, .wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.body {
  width: 100%;
  flex: 1 0 auto;
}
.inner {
  padding: 0 10px;
}