.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 25px;
  fill: currentColor;
  /*vertical-align: -0.125em;*/
  transition: fill 250ms, color 250ms, stroke 250ms;
}

.clearfix:before,.clearfix:after {content: " ";display: table}.clearfix:after {clear: both}
.small{font-size:80% !important}
.big{font-size:120% !important}

.clear, .cl{clear:both !important} .clearB, .clb{clear:both !important} .clearL, .cll{clear:left !important} .clearR, .clr{clear:right !important} .clearN, .cln {clear: none !important}
.fll{float:left !important} .flr{float:right !important} .fln{float: none !important}
.tac{text-align:center !important} .tal{text-align:left !important} .tar{text-align:right !important}
.vam{vertical-align:middle !important} .vat{vertical-align:top !important} .vab{vertical-align:bottom !important} .vabs{vertical-align:baseline !important}
.fwb{font-weight:bold !important} .fwn{font-weight:normal !important}
.fsi{font-style:italic !important} .fsn{font-style:normal !important}
.tdn{text-decoration: none !important} .tdu{text-decoration:underline !important} .tdo{text-decoration:overline !important} .tdl, .tdlt {text-decoration:line-through !important}
.hovTdu:hover{text-decoration: underline !important}.hovTdn:hover{text-decoration: none !important}
.di{display:inline !important} .db{display:block !important} .dib{display:inline-block !important} .dn{display:none !important} .dtb{display:table !important} .dtbc{display:table-cell !important}
.now{white-space: nowrap !important}
.bdn{border:none !important} .bdtn{border-top:none !important} .bdrn{border-right:none !important} .bdbn{border-bottom:none !important} .bdbn{border-bottom:none !important}
.posr{position:relative !important} .poss{position:static !important} .posa{position:absolute !important} .posf{position: fixed !important}
.bgn{background:none !important}
.curp{cursor:pointer !important} .cura{cursor:auto !important} .curt{cursor:text !important} .curd{cursor:default !important}
/*.hidden{display:none;visibility:hidden}*/
.ovv{overflow: visible !important} .ovh{overflow: hidden !important} .ova{overflow: auto !important} .ovs{overflow: scroll !important}
.ttu{text-transform: uppercase !important}.ttl{text-transform: lowercase !important}.ttc{text-transform: capitalize !important}.ttn{text-transform: none !important}
.wa{width: auto !important}.w100{width:100% !important}
.ha{height:auto !important}.h100{height:100% !important}
.lh1 {line-height:1 !important}

.black {color:black !important}
.white {color:white !important}
.red {color:red !important}
.green {color:green !important}
.blue {color:blue !important}
.cyan {color:cyan !important}
.yellow {color:yellow !important}
.lightgray {color:#ccc !important}
.gray {color:#999 !important}
.darkgray {color:#666 !important}

.m50{margin:50px !important} .mt50{margin-top:50px !important} .mr50{margin-right:50px !important} .mb50{margin-bottom:50px !important} .ml50{margin-left:50px !important}
.m45{margin:45px !important} .mt45{margin-top:45px !important} .mr45{margin-right:45px !important} .mb45{margin-bottom:45px !important} .ml45{margin-left:45px !important}
.m40{margin:40px !important} .mt40{margin-top:40px !important} .mr40{margin-right:40px !important} .mb40{margin-bottom:40px !important} .ml40{margin-left:40px !important}
.m35{margin:35px !important} .mt35{margin-top:35px !important} .mr35{margin-right:35px !important} .mb35{margin-bottom:35px !important} .ml35{margin-left:35px !important}
.m30{margin:30px !important} .mt30{margin-top:30px !important} .mr30{margin-right:30px !important} .mb30{margin-bottom:30px !important} .ml30{margin-left:30px !important}
.m25{margin:25px !important}.mt25{margin-top:25px !important} .mr25{margin-right:25px !important} .mb25{margin-bottom:25px !important} .ml25{margin-left:25px !important}
.m20{margin:20px !important}.mt20{margin-top:20px !important} .mr20{margin-right:20px !important} .mb20{margin-bottom:20px !important} .ml20{margin-left:20px !important}
.m15{margin:15px !important}.mt15{margin-top:15px !important} .mr15{margin-right:15px !important} .mb15{margin-bottom:15px !important} .ml15{margin-left:15px !important}
.m10{margin:10px !important}.mt10{margin-top:10px !important} .mr10{margin-right:10px !important} .mb10{margin-bottom:10px !important} .ml10{margin-left:10px !important}
.m5{margin:5px !important}.mt5{margin-top:5px !important} .mr5{margin-right:5px !important} .mb5{margin-bottom:5px !important} .ml5{margin-left:5px !important}
.mn,.m0{margin:0 !important}.mtn,.mt0{margin-top:0 !important} .mrn,.mr0{margin-right:0 !important} .mbn,.mb0{margin-bottom:0 !important} .mln,.ml0{margin-left:0 !important}

.p50{padding:50px !important} .pt50{padding-top:50px !important} .pr50{padding-right:50px !important} .pb50{padding-bottom:50px !important} .pl50{padding-left:50px !important}
.p45{padding:45px !important} .pt45{padding-top:45px !important} .pr45{padding-right:45px !important} .pb45{padding-bottom:45px !important} .pl45{padding-left:40px !important}
.p40{padding:40px !important} .pt40{padding-top:40px !important} .pr40{padding-right:40px !important} .pb40{padding-bottom:40px !important} .pl40{padding-left:40px !important}
.p35{padding:35px !important} .pt35{padding-top:35px !important} .pr35{padding-right:35px !important} .pb35{padding-bottom:35px !important} .pl35{padding-left:35px !important}
.p30{padding:30px !important} .pt30{padding-top:30px !important} .pr30{padding-right:30px !important} .pb30{padding-bottom:30px !important} .pl30{padding-left:30px !important}
.p25{padding:25px !important}.pt25{padding-top:25px !important} .pr25{padding-right:25px !important} .pb25{padding-bottom:25px !important} .pl25{padding-left:25px !important}
.p20{padding:20px !important}.pt20{padding-top:20px !important} .pr20{padding-right:20px !important} .pb20{padding-bottom:20px !important} .pl20{padding-left:20px !important}
.p15{padding:15px !important}.pt15{padding-top:15px !important} .pr15{padding-right:15px !important} .pb15{padding-bottom:15px !important} .pl15{padding-left:15px !important}
.p10{padding:10px !important}.pt10{padding-top:10px !important} .pr10{padding-right:10px !important} .pb10{padding-bottom:10px !important} .pl10{padding-left:10px !important}
.p5{padding:5px !important}.pt5{padding-top:5px !important} .pr5{padding-right:5px !important} .pb5{padding-bottom:5px !important} .pl5{padding-left:5px !important}
.pn,.p0{padding:0 !important}.ptn,.pt0{padding-top:0 !important} .prn,.pr0{padding-right:0 !important} .pbn,.pb0{padding-bottom:0 !important} .pln,.pl0{padding-left:0 !important}


/*<ul class="justify"><li>1</li><li>2</li></ul>*/
/*li should be closed*/
.justify {
  text-align: justify;
  
  /* null parent el*/
  line-height: 0;
  font-size: 1px; /* 1px for Opera */
  
  /* fix for IE6-7*/        
  text-justify: newspaper;
  zoom:1;
  
  /* last line fix*/     
  text-align-last: justify;   
}
.justify:after {
  width: 100%; 
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}
.justify li  {
  display: inline-block;
  text-align: left;
  
  /*restore children, except the last*/
  line-height: normal;
  font-size: 14px;
  
  /*Opera fix*/
  vertical-align: top; 
  
  /* inline-block for IE6-7*/
  /*display : inline;
  zoom : 1;*/
}

/* Borrowed from H5BP based on Hiding content for accessibility by Jonathan Snook. */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visually-hidden class to allow the element to be focusable when navigated to via the keyboard. Borrowed from H5BP. */
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}