<!doctype html>
<html class="no-js" lang="en">

<%- include('/components/head/head.ejs') %>

<body>
  <!-- We need 2 elements app and wrapper to make footer sticky in ie -->
  <div id="app">
    <div class="wrapper">
      <%- include('/components/header/header.ejs') %>
      <main class="body">
        <div class="inner">
          app
        </div>
      </main>
      <%- include('/components/footer/footer.ejs') %>
    </div>
  </div>
</body>

</html>