<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--<meta name="theme-color" content="#0094e2"> -->
  <meta name="description" content="">

  <% if(config.isDevelopment){ %>
    <link rel="stylesheet" href="gulp.styles.css">
    <link rel="stylesheet" href="webpack.styles.css">
  <% } else{ %>  
    <link rel="stylesheet" href="styles.css">
  <% } %>
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  

  <title>Project starter kit</title>
</head>