<!doctype html>
<html class="no-js" lang="ru">

<%- include('/modules/head/head.ejs') %>

<body>
  <div class="wrapper">
    <div class="body">
      <h1>h1 title</h1>
      <button class="test">click</button>
      <svg class='icon'>
        <use xlink:href='img/icons.svg#down'></use>
      </svg>
      <br>
      <svg>
        <use xlink:href='img/iconsColored.svg#logo'></use>
      </svg>
      <br>
    </div>
  </div>
  
  
  <footer class="footer">
    footer
  </footer>
  <script src="bundle.js"></script>
</body>

</html>