/*!!! semicolons are very important !!!*/

/* import here all default/reset styles */
@import "normalize.css";

/*in vendor.css we import other vendor css files and write our custom styles for vendor plugins (redefine or theme default plugin styles)*/
@import 'vendor/vendor.css';


/* import global site styles, common for all pages */
@import 'common/_custom_normalize.css';
@import 'common/helpers.css';
@import 'common/_variables.css';

/* import project specific css */
@import 'common/global.css';
@import 'common/buttons.css';
@import 'common/forms.css';



/* import all css from components/pages here */
@import 'pages/index/index.css'; 
@import 'components/header/header.css';
@import 'components/footer/footer.css';





/* import styles from backend developers, if they want to change something globally */
@import 'common/backend.css';