<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--<meta name="theme-color" content="#0094e2"> -->
  <meta name="description" content="">

  <link rel="stylesheet" href="css/styles.css">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <title>Project starter kit</title>
</head>

<body>
  <!-- We need 2 elements app and wrapper to make footer sticky in ie -->
  <div id="app">
    <div class="wrapper">
      <%- include('/components/header/header.html') %>
        <main class="body">
          <div class="inner">
            app
          </div>
        </main>
        <%- include('/components/footer/footer.html') %>
    </div>
  </div>
</body>
<%- include('/components/scripts.html') %>
</html>
